Repository CPT-Jack-A-Castle/metalk8s, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, dependencies, docs, storage, tests, build, ci

.github/labeler.yml:

ui:
- 'ui/*'

dependencies:
- '**/requirements*.in'
- '**/requirements*.txt'
- '**/package.json'
- '**/package-lock.json'
- '**/go.mod'
- '**/go.sum'

docs:
- 'docs/*'

storage:
- 'storage-operator/*'

tests:
- 'tests/*'

build:
- 'buildchain/*'
- 'packages/*'
- 'images/*'

ci:
- 'eve/*'
- '.github/workflows/*'
- '.github/labeler.yml'

module-federation: Add a context to detect which apps is the currently rendered one. This enables auto configuration of federated hooks
  shell-ui/src/ModuleFederation.js
Labels: none

ui: Fix hook injection in components to avoid infinite rerendering
  ui/src/ModuleFederation.js
Labels: none

ui: Fix race condition when initializing salt
  ui/src/ducks/app/salt.js
Labels: none

ui: Upgrade core-ui
  ui/package-lock.json
  ui/package.json
Labels: ui, dependencies

shell: Remove deprecated code following to module federation switch
  shell-ui/src/FederatedApp.jsx
  shell-ui/src/navbar/NavBar.js
  shell-ui/src/navbar/index.js
Labels: none

shell: Add support for federated and non federated navbar links
  shell-ui/src/FederatedApp.jsx
  shell-ui/src/initFederation/ConfigurationProviders.js
  shell-ui/src/initFederation/ShellConfigProvider.js
  shell-ui/src/navbar/NavBar.js
  shell-ui/src/navbar/index.js
Labels: none

ui: Init web fingers
  ui/public/.well-known/micro-app-configuration
  ui/public/.well-known/runtime-app-configuration
Labels: none

shell: Disable refetch of discovered UI and webfingers on focus
  shell-ui/src/initFederation/ConfigurationProviders.js
  shell-ui/src/initFederation/ShellConfigProvider.js
  shell-ui/src/initFederation/UIListProvider.js
Labels: none

shell: Add theme typing
  shell-ui/src/initFederation/ShellConfigProvider.js
Labels: none

ui: Force styled component to use the same version to be able to retireve the theme using useTheme hook accross the UIs
  shell-ui/webpack.common.js
  ui/webpack.common.js
Labels: ui

ui: Module federation wip
  ui/src/FederableApp.js
  ui/src/ModuleFederation.js
  ui/src/containers/App.js
  ui/src/containers/Layout.js
  ui/src/entry.js
  ui/src/index.js
  ui/webpack.common.js
Labels: ui

shell: Statically serve previous solution ui bundle to ensure retrocompatibility for solution UIs
  shell-ui/public/shell/solution-ui-navbar.1.0.0.js
Labels: none

ui: Use useTheme instead of theme defined in redux
  ui/src/components/ActiveAlertsCounter.js
  ui/src/components/CircleStatus.js
  ui/src/components/InformationList.js
  ui/src/components/NodeListTable.js
  ui/src/components/NodePageAlertsTab.js
  ui/src/components/NodePageOverviewTab.js
  ui/src/components/NodePagePodsTab.js
  ui/src/components/NodePageVolumesTable.js
  ui/src/components/NodePartitionTable.js
  ui/src/components/TableRow.js
  ui/src/components/VolumeAlertsTab.js
  ui/src/components/VolumeListTable.js
  ui/src/components/VolumeMetricsTab.js
  ui/src/components/VolumeOverviewTab.js
  ui/src/components/style/CommonLayoutStyle.js
  ui/src/components/style/TableStyle.js
  ui/src/containers/About.js
  ui/src/containers/AlertPage.js
  ui/src/containers/CreateVolume.js
  ui/src/containers/DashboardPage.js
  ui/src/containers/NodeCreateForm.js
  ui/src/containers/NodePage.js
  ui/src/containers/NodePageMetricsTab.js
  ui/src/containers/NodePageRSP.js
  ui/src/containers/VolumePageContent.js
  ui/src/services/NodeUtils.js
Labels: none

ui,shell-ui: Use @scality/module-federation library
  shell-ui/index.all.js
  shell-ui/package-lock.json
  shell-ui/package.json
  shell-ui/src/FederatedApp.jsx
  shell-ui/src/ModuleFederation.js
  shell-ui/src/initFederation/UIListProvider.js
  ui-module-federation/package-lock.json
  ui-module-federation/package.json
  ui/package-lock.json
  ui/package.json
  ui/src/ModuleFederation.js
  ui/src/containers/PrivateRoute.js
  ui/src/entry.js
Labels: ui, dependencies

ui: Extract alerts management from redux
  ui/src/containers/VolumePage.js
  ui/src/services/NodeVolumesUtils.js
Labels: none

ui: Use unique History for router accross ui mounts
  ui/src/FederableApp.js
Labels: none

ui: Add useVolumesWithAlerts hook to mutualize alert logic between volume page and volume tab in the node page
  ui/src/components/NodePageVolumesTab.js
  ui/src/containers/VolumePage.js
  ui/src/hooks.js
Labels: none

shell: Implement web fingerts providers
  shell-ui/src/auth/AuthConfigProvider.js
  shell-ui/src/auth/AuthProvider.js
  shell-ui/src/initFederation/ConfigurationProviders.js
Labels: none

shell: Display a loader while loading UI web fingers
  shell-ui/src/initFederation/ConfigurationProviders.js
Labels: none

shell: Use react-router to route to the federated app
  shell-ui/src/FederatedApp.jsx
Labels: none

ci: Module federation
  eve/main.yml
  eve/workers/pod-integration-tests/ui/app.Dockerfile
  eve/workers/pod-integration-tests/ui/shell-ui.Dockerfile
  shell-ui/webpack.common.js
  shell-ui/webpack.config.dev.js
  ui-module-federation/package.json
Labels: dependencies, ci

ui/module-federation: Retrieve language from federated hook
  shell-ui/webpack.common.js
  ui/src/containers/App.js
  ui/src/containers/IntlProvider.js
Labels: none

ui/tests: Add intlprovider for component unit test
  ui/src/components/__TEST__/util.js
Labels: none

ui/module-federation: Use intl.formatMessage to retrieve translations
  ui/src/components/DashboardMetrics.js
  ui/src/components/NodeDetailsTab.js
  ui/src/components/NodeListTable.js
  ui/src/components/NodePageAlertsTab.js
  ui/src/components/NodePageOverviewTab.js
  ui/src/components/NodePagePartitionTab.js
  ui/src/components/NodePagePodsTab.js
  ui/src/components/NodePageVolumesTable.js
  ui/src/components/NodePartitionTable.js
  ui/src/components/TableRow.js
  ui/src/components/VolumeAlertsTab.js
  ui/src/components/VolumeDetailsTab.js
  ui/src/components/VolumeListTable.js
  ui/src/components/VolumeMetricsTab.js
  ui/src/components/VolumeOverviewTab.js
  ui/src/containers/About.js
  ui/src/containers/AlertPage.js
  ui/src/containers/CreateVolume.js
  ui/src/containers/LoginCallback.js
  ui/src/containers/NodeCreateForm.js
  ui/src/containers/NodeList.js
  ui/src/containers/NodePageMetricsTab.js
  ui/src/containers/NodePageRSP.js
  ui/src/containers/VolumeInformation.js
  ui/src/containers/VolumePageContent.js
  ui/src/services/NodeVolumesUtils.js
Labels: none

ui/module-federation: Dispatch action to keep intl to redux
  ui/src/containers/Layout.js
  ui/src/ducks/app/nodes.js
  ui/src/ducks/app/salt.js
  ui/src/ducks/app/volumes.js
  ui/src/ducks/config.js
  ui/src/ducks/login.js
  ui/src/entry.js
  ui/src/services/utils.js
  ui/src/setupTests.js
Labels: none

ui/theme: Remove the brand level in theme
  ui/src/components/DashboardChartCpuUsage.js
  ui/src/components/DashboardChartMemory.js
  ui/src/components/DashboardChartSystemLoad.js
  ui/src/components/DashboardChartThroughput.js
  ui/src/components/DashboardMetrics.js
  ui/src/components/style/CommonLayoutStyle.js
  ui/src/containers/DashboardPage.js
  ui/src/containers/NodePageMetricsTab.js
Labels: none

ui/module-federation: Upgrade react-intl library
  ui/package-lock.json
  ui/package.json
Labels: ui, dependencies

ui/tests: Skip the saga tests related to translations
  ui/src/ducks/app/nodes.test.js
  ui/src/ducks/app/volumes.test.js
  ui/src/ducks/login.test.js
  ui/src/services/NodeVolumesUtils.js
  ui/src/services/NodeVolumesUtils.test.js
  ui/src/setupTests.js
  ui/src/translations/IntlGlobalProvider.js
Labels: none

ui/module-federation: Use federated useAlerts hook
  ui/src/containers/AlertProvider.js
  ui/src/containers/IntlProvider.js
Labels: none

ui: Fix the dependency warning from useEffect hook
  ui/src/components/NodeListTable.js
  ui/src/components/NodePagePodsTab.js
  ui/src/components/NodePageVolumesTable.js
  ui/src/components/VolumeListTable.js
  ui/src/components/VolumeMetricsTab.js
  ui/src/containers/PrivateRoute.js
Labels: none

ui/theme: Fix the theme for ProgressBar
  ui/src/components/NodePageVolumesTable.js
  ui/src/components/VolumeListTable.js
Labels: none

ui: Configure shell-ui remoteEntry url
  images/metalk8s-ui/conf/nginx.conf
  shell-ui/conf/nginx.conf
  shell-ui/webpack.common.js
  shell-ui/webpack.config.dev.js
  shell-ui/webpack.config.prd.js
  ui/src/containers/AlertProvider.js
  ui/src/containers/IntlProvider.js
  ui/src/containers/PrivateRoute.js
  ui/src/entry.js
  ui/src/index.html
Labels: none

ui: Update with the patch v0.18.3 core-ui
  shell-ui/package-lock.json
  shell-ui/package.json
  ui-module-federation/package-lock.json
  ui-module-federation/package.json
  ui/package-lock.json
  ui/package.json
Labels: ui, dependencies

ui,ci: Move UI module federation library to an independant repository
  eve/main.yml
  eve/workers/pod-integration-tests/ui/app.Dockerfile
  eve/workers/pod-integration-tests/ui/shell-ui.Dockerfile
  shell-ui/Dockerfile
  shell-ui/package-lock.json
  shell-ui/package.json
  ui-module-federation/.gitignore
  ui-module-federation/package-lock.json
  ui-module-federation/package.json
  ui-module-federation/src/ModuleFederation.tsx
  ui-module-federation/tsconfig.json
  ui/package-lock.json
  ui/package.json
Labels: ui, dependencies, ci

test: Add mocks for runtime app configuration
  ui/cypress/fixtures/runtime-app-configuration
  ui/cypress/support/commands.js
Labels: none

test: Add mocks for UI service discovery in cypress tests
  ui/cypress/fixtures/deployed-ui-apps.json
  ui/cypress/fixtures/shell-config.json
  ui/cypress/support/commands.js
Labels: none

shell: Expose history to cypress
  shell-ui/src/FederatedApp.jsx
Labels: none

ci: Adapt shell-ui ci to module federation refactoring
  buildchain/buildchain/shell_ui.py
Labels: none

ci, debug ci
  shell-ui/src/initFederation/ConfigurationProviders.js
  shell-ui/src/initFederation/ShellConfigProvider.js
  shell-ui/src/initFederation/UIListProvider.js
Labels: none

salt: Increment shell-ui version and add merge scropt with older version
  salt/metalk8s/addons/ui/config/metalk8s-shell-ui-config.yaml.j2
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
Labels: none
