Repository CPT-Jack-A-Castle/metalk8s, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, dependencies, docs, storage, tests, build, ci

.github/labeler.yml:

ui:
- 'ui/*'

dependencies:
- '**/requirements*.in'
- '**/requirements*.txt'
- '**/package.json'
- '**/package-lock.json'
- '**/go.mod'
- '**/go.sum'

docs:
- 'docs/*'

storage:
- 'storage-operator/*'

tests:
- 'tests/*'

build:
- 'buildchain/*'
- 'packages/*'
- 'images/*'

ci:
- 'eve/*'
- '.github/workflows/*'
- '.github/labeler.yml'

ui, dashboard: Add missing data verification in formatNodesPromRangeForChart
  ui/src/services/graphUtils.js
Labels: none

ui, config: Add ConfigProvider to metal
  ui/src/containers/ConfigProvider.js
Labels: none

ui, platform: Add PlatformLibraryProvider to metal
  ui/public/config.json
  ui/src/containers/PlatformLibraryProvider.js
Labels: none

ui, alerts: Update AlertProvider to use ConfigProvider instead of redux
  ui/src/containers/AlertProvider.js
Labels: none

ui, config: Add typing for platform Library in Config type
  ui/src/services/api.js
Labels: none

ui, auth: Add AuthProvider and set the date from Navbar
  ui/src/components/Navbar.js
  ui/src/containers/AuthProvider.js
Labels: none

ui, app: Add Config PlatformLibrary and Auth providers to App
  ui/src/containers/App.js
Labels: none

ui, dashboard: Add inventory card to dashboard
  ui/src/components/DashboardInventory.js
  ui/src/containers/DashboardPage.js
  ui/src/translations/en.json
  ui/src/translations/fr.json
Labels: none

ui, auth: Remove unneeded console.log in AuthProvider
  ui/src/containers/AuthProvider.js
Labels: none

ui, cypress: Add platformLibrary in cypress config
  ui/cypress/fixtures/config.json
Labels: none

ui, dashboard: Add inventory card tests
  ui/src/components/DashboardInventory.js
  ui/src/components/DashboardInventory.test.js
  ui/src/containers/ConfigProvider.js
Labels: none

ui, dashboard: Replace padding by spacing in Inventory card
  ui/src/components/DashboardInventory.js
Labels: none

ui, dashboard: Add missing type Status in AlertProvider
  ui/src/containers/AlertProvider.js
Labels: none

ui, dashboard: Adapt tests
  ui/src/components/DashboardInventory.test.js
Labels: none

ui: FederatedComponent useMemo to avoid useless re-renders and donot set state when component is unmounted in useDynamicScript hook
  shell-ui/src/ModuleFederation.js
  ui/src/ModuleFederation.js
Labels: none

shell: Add an index file to shell-ui to debug remote entry
  shell-ui/index.all.js
  shell-ui/webpack.config.dev.js
Labels: none

shell: Add a static discovered list of deployed UIs
  shell-ui/public/shell/deployed-ui-apps.json
  shell-ui/src/initFederation/UIListProvider.js
Labels: none

shell: Federate an abstraction of useAuth to prepare support of OAuth2Poxy authentication
  shell-ui/webpack.common.js
Labels: none

ui-module-federation: Replace ComponentWithLazyHooks by ComponentWithFederatedImports to make it support several imports and make it clear it can import other functions/modules than hooks
  ui-module-federation/package-lock.json
  ui-module-federation/package.json
  ui-module-federation/src/ModuleFederation.tsx
Labels: dependencies

shell: Review tests folowing to module federation refactoring
  shell-ui/src/FederatedApp.spec.js
  shell-ui/src/alerts/Alerts.spec.js
  shell-ui/src/alerts/alertHooks.test.js
  shell-ui/src/navbar/Navbar.spec.js
Labels: none

Shell: Add react-router to manage routing of federated pages in ShellUI
  shell-ui/package-lock.json
  shell-ui/package.json
Labels: dependencies

shell: Federate an abstraction of useAuth to prepare support of OAuth2Poxy authentication
  shell-ui/src/navbar/NavBar.js
  shell-ui/src/navbar/index.js
  ui/src/containers/PrivateRoute.js
  ui/src/ducks/config.js
  ui/src/services/salt/api.js
Labels: none

shell-ui: Clean log
  shell-ui/src/navbar/lang.js
Labels: none

shell-ui: Temporarly add metalk8s-ui remote module config to navbar for demo purposes
  shell-ui/public/shell/config.json
Labels: none

shell-ui: Module federation wip
  shell-ui/src/App.jsx
  shell-ui/src/ModuleFederation.js
  shell-ui/src/index.js
  shell-ui/src/navbar/NavBar.js
  shell-ui/src/navbar/index.js
  shell-ui/src/navbar/theme.js
  shell-ui/webpack.common.js
  shell-ui/webpack.config.dev.js
  shell-ui/webpack.config.prd.js
Labels: none

shell-ui: Refactor shell-ui to module federation. This allow runtime integration with others UIs and sharing of the authentication context as well as the theme
  shell-ui/package.json
  shell-ui/src/App.jsx
  shell-ui/src/ModuleFederation.js
  shell-ui/src/navbar/NavBar.js
  shell-ui/src/navbar/index.js
  shell-ui/src/navbar/lang.js
  shell-ui/webpack.common.js
  shell-ui/webpack.config.dev.js
  shell-ui/webpack.config.prd.js
Labels: dependencies

shell: Shell configuration provider
  shell-ui/public/shell/config.json
  shell-ui/src/initFederation/ShellConfigProvider.js
Labels: none

shell: Implement deployed UI app provider
  shell-ui/src/initFederation/UIListProvider.js
  shell-ui/src/initFederation/UIListProvider.spec.js
Labels: none

ui: Create module federation library
  ui-module-federation/.gitignore
  ui-module-federation/package-lock.json
  ui-module-federation/package.json
  ui-module-federation/src/ModuleFederation.tsx
  ui-module-federation/tsconfig.json
Labels: dependencies

ui: Prepare rework to convert metalk8s-ui to a federable UI using webpack module federation
  ui/src/FederableApp.js
  ui/src/ModuleFederation.js
  ui/src/entry.js
  ui/src/index.html
  ui/webpack.common.js
Labels: ui

ui: Use federated useAuth hook to retrieve connected user infos
  ui/src/containers/PrivateRoute.js
Labels: none

ui: Fix duplicate fetches of nodes information
  ui/src/ducks/app/nodes.js
Labels: none

ui: Fix test on getVOlumeListData
  ui/src/services/NodeVolumesUtils.test.js
Labels: none

ui: Remove unused navbar component
  ui/src/components/Navbar.js
Labels: none

shell : Fix alert context
  shell-ui/src/alerts/AlertProvider.js
  shell-ui/src/alerts/alertContext.js
Labels: none

fixup! ui: Module federation wip
  ui/src/containers/App.js
Labels: none

shell: Review shell config for module federation
  shell-ui/public/shell/config.json
Labels: none

shell-ui: Convert Alerts library to a set of hooks and component federable
  shell-ui/src/alerts/AlertProvider.js
  shell-ui/src/alerts/Alerts.spec.js
  shell-ui/src/alerts/alertContext.js
  shell-ui/src/alerts/alertHooks.js
  shell-ui/src/alerts/alertHooks.test.js
  shell-ui/src/alerts/index.js
  shell-ui/src/alerts/index.mdx
  shell-ui/src/alerts/library.js
Labels: none

ui: Federate AlertProvider from shell-ui instead of using window attached library (WIP)
  ui/src/containers/AlertProvider.js
Labels: none

shell-ui: Bidirectional module federation host
  shell-ui/src/FederatedApp.jsx
Labels: none
