Repository CPT-Jack-A-Castle/metalk8s, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, dependencies, docs, storage, tests, build, ci

shell: Fix shell config typing
  shell-ui/src/initFederation/ConfigurationProviders.js
  shell-ui/src/initFederation/ShellConfigProvider.js
Labels: none

shell: Fix index.html target
  shell-ui/webpack.common.js
Labels: none

build: Bump salt to 3003.1
  .pre-commit-config.yaml
  buildchain/buildchain/versions.py
  salt/_modules/metalk8s.py
  salt/_modules/metalk8s_network.py
  salt/tests/requirements.in
  salt/tests/requirements.txt
Labels: dependencies

salt: Shell-UI configuration v1alpha2 mapped to runtime app configuration
  images/metalk8s-ui/conf/nginx.conf
  salt/metalk8s/addons/ui/config/metalk8s-ui-config.yaml
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
Labels: none

ui: Use config from runtime app config web finger instead of refetching it from /config.json
  shell-ui/webpack.common.js
  ui/src/containers/App.js
  ui/src/containers/PrivateRoute.js
  ui/src/ducks/config.js
  ui/webpack.common.js
Labels: ui

salt: Runtime app configuration
  salt/metalk8s/addons/ui/deployed/ui.sls.in
Labels: none

ui: Create voume, remove unnecessary intl.formatMessage
  ui/src/containers/CreateVolume.js
Labels: none

salt: CSC framework for deployed ui apps
  buildchain/buildchain/salt_tree.py
  images/metalk8s-ui/conf/nginx.conf
  salt/metalk8s/addons/ui/config/deployed-ui-apps.yaml.j2.in
  salt/metalk8s/addons/ui/deployed/files/metalk8s-ui-deployment.yaml.j2
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
  salt/metalk8s/addons/ui/deployed/ui.sls.in
Labels: none

fixup! salt: Increment shell-ui version and add merge scropt with older version
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
Labels: none

fixup! ui: Use config from runtime app config web finger instead of refetching it from /config.json
  ui/src/ducks/config.test.js
Labels: none

shell: Webpack add entry.js in bundled index.html
  shell-ui/index-template.html
  shell-ui/package-lock.json
  shell-ui/package.json
  shell-ui/webpack.common.js
  shell-ui/webpack.config.prd.js
  ui/webpack.common.js
  ui/webpack.dev.js
Labels: ui, dependencies

fixup! salt: CSC framework for deployed ui apps
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
  salt/metalk8s/addons/ui/deployed/ui.sls.in
Labels: none

shell-ui: Bump module federation library
  shell-ui/package-lock.json
Labels: dependencies

fixup! salt: CSC framework for deployed ui apps
  images/metalk8s-ui/conf/nginx.conf
Labels: none

ci: fixes
  eve/workers/pod-integration-tests/ui/pod.yaml
  images/metalk8s-ui/conf/nginx.conf
  ui/standalone-nginx.conf
Labels: ui

fixup! salt: Runtime app configuration
  salt/metalk8s/addons/ui/deployed/ui.sls.in
Labels: none

fixup! salt: Runtime app configuration
  buildchain/buildchain/salt_tree.py
  docs/operation/cluster_and_service_configuration.rst
  salt/metalk8s/addons/dex/config/dex.yaml.j2
  salt/metalk8s/addons/ui/config/deployed-ui-apps.yaml.j2.in
  salt/metalk8s/addons/ui/config/metalk8s-shell-ui-config.yaml.j2
  salt/metalk8s/addons/ui/config/metalk8s-ui-config.yaml.j2
  salt/metalk8s/addons/ui/deployed/ingress.sls
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
  salt/metalk8s/addons/ui/deployed/ui.sls.in
Labels: none

fixup! salt: Runtime app configuration
  salt/metalk8s/addons/ui/config/metalk8s-ui-config.yaml.j2
Labels: none

fixup! shell: Webpack add entry.js in bundled index.html
  shell-ui/webpack.config.prd.js
Labels: none

ui: Use shell index.html for local dev
  images/metalk8s-ui/conf/nginx.conf
  shell-ui/index-template.html
  shell-ui/webpack.common.js
  shell-ui/webpack.config.dev.js
  shell-ui/webpack.config.prd.js
  ui/public/.well-known/runtime-app-configuration
  ui/webpack.dev.js
Labels: ui

ui: Upgrade react-query to support module federation context sharing
  shell-ui/package-lock.json
  shell-ui/package.json
  ui/package-lock.json
  ui/package.json
Labels: ui, dependencies

shell: Add an error boundary in case of error while rendering a micro app
  shell-ui/src/FederatedApp.jsx
Labels: none

shell: Attach shared context to the window to enable micro apps to resue them
  shell-ui/src/alerts/alertContext.js
  shell-ui/src/initFederation/ConfigurationProviders.js
  shell-ui/src/initFederation/ShellConfigProvider.js
  shell-ui/src/initFederation/UIListProvider.js
  shell-ui/src/navbar/lang.js
  shell-ui/webpack.common.js
Labels: none

shell: Import css and font
  shell-ui/jest.config.js
  shell-ui/package-lock.json
  shell-ui/package.json
  shell-ui/public/brand/assets/fonts/lato/Lato-Bold.woff
  shell-ui/public/brand/assets/fonts/lato/Lato-Bold.woff2
  shell-ui/public/brand/assets/fonts/lato/Lato-Regular.woff
  shell-ui/public/brand/assets/fonts/lato/Lato-Regular.woff2
  shell-ui/public/brand/assets/logo-dark.svg
  shell-ui/public/brand/assets/logo-darkRebrand.svg
  shell-ui/public/brand/assets/logo-light.svg
  shell-ui/public/brand/favicon-metalk8s.svg
  shell-ui/src/FederatedApp.jsx
  shell-ui/src/index.css
  ui/src/FederableApp.js
Labels: dependencies

.github/labeler.yml:

ui:
- 'ui/*'

dependencies:
- '**/requirements*.in'
- '**/requirements*.txt'
- '**/package.json'
- '**/package-lock.json'
- '**/go.mod'
- '**/go.sum'

docs:
- 'docs/*'

storage:
- 'storage-operator/*'

tests:
- 'tests/*'

build:
- 'buildchain/*'
- 'packages/*'
- 'images/*'

ci:
- 'eve/*'
- '.github/workflows/*'
- '.github/labeler.yml'
